.dev_titre{
    font-size: 10px;
    text-decoration:underline ;
    text-align: center;
}

.nom_prenom{
    font-size: small;
}

.information{
    font-size: 13px;
}

.sous-titres{
    font-size: 15px;
    opacity: 0.5;
}

.conteneur{
    background-color: lightgray;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;   
}

body{
    background-color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gauche{
    /* border: magenta solid; */
    width: 40%;
    overflow-x: auto;
}

.droite{
    width: 50%;
    /* border: magenta solid; */
    border-left: red solid;
    margin-left: auto;
    margin-right: auto;
}