.dev_titre{
    font-size: 10px;
    text-decoration:underline ;
    text-align: center;
}

.nom_prenom{
    font-size: small;
}

.sous-titres{
    font-size: 15px;
    opacity: 0.5;
}
.conteneur{
    display: flex;
    justify-content: start;
}
.gauche{
}
.droite{
    margin-left: left 20px;
    border-left: gray solid;
}